<footer class="Footer">
  <div class="Footer-container">
    <div class="Footer-text">
      ©️ 2021 PUGSTAGRAM
    </div>
  </div>
</footer>

<style>
  .Footer {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #c7c7c7;
  }
</style>