<script>
  let formData = {
    name: "",
    price: 0,
    stock: 0,
    description: "",
  };

  async function handleSubmit() {
    try {
      const response = await fetch('http://localhost:3000/products', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      });

      if (response.ok) {
        console.log('Producto creado correctamente');
      } else {
        const responseData = await response.json();
        console.error('Error al crear el producto:', responseData.message);
      }
    } catch (error) {
      console.error('Error de red:', error);
    }
  }

</script>

<div class="Form svelte">
  <form on:submit|preventDefault={handleSubmit}>
    <label>
      Name:
      <input name="name" type="text" bind:value={formData.name} />
    </label>
    <label>
      Price:
      <input name="price" type="number" bind:value={formData.price} />
    </label>
    <label>
      Stock:
      <input name="stock" type="number" bind:value={formData.stock} />
    </label>
    <label>
      Description:
      <textarea name="description" bind:value={formData.description}></textarea>
    </label>
    <button type="submit">Enviar</button>
  </form>
</div>
