<script>
// @ts-nocheck

  import Profile from './Profile.svelte';
  import Stories from './Stories.svelte';
  import Form from './Form.svelte';
  import Footer from './Footer.svelte';

  export let nickname;
  export let name;

</script>

<div class="Sidebar">
  <div class="Sidebar-container">
      <Profile {nickname} {name} />
      <Stories />
      <Form />
      <Footer />
  </div>
</div>

<style>
  .Sidebar {
    position: relative;
    padding: 4.5em 0 0 0;
  }
  .Sidebar-container {
    position: fixed;
  }
</style>