<script>
// @ts-nocheck

  import { onMount } from "svelte";
  import Header from "../components/Header.svelte";
  import Main from "../components/Main.svelte";
  import Sidebar from "../components/Sidebar.svelte";
  import TimeLine from "../components/TimeLine.svelte";

  let data = {};

  const API = "https://kittygram-api.now.sh/";
  const API_NEST = "http://localhost:3000/products";

  onMount(async () => {
    const response = await fetch(API);
    data = await response.json();
    console.log(data.posts);
  });

  onMount(async () => {
    const response = await fetch(API_NEST);
    data = await response.json();
    console.log("Nest", data);
  });
  
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
  :global(body) {
    background-color: #d4d4d4;
    color: rgba(38, 38, 38, 0.7);
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  :global(h1, h2, h3) {
    margin: 0;
    padding: 0;
  }
</style>

<Header />
<Main>
  <TimeLine posts={data.posts} />
  <Sidebar {...data.user} />
</Main>
